.navbar {
	border: 0px !important;
	border-radius: 0px !important;
}

.navbar-footer {
	margin-bottom: 0px;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 50px;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	color: #9d9d9d;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #222;
	text-align: center;
}