<!DOCTYPE web-app PUBLIC
		"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<display-name>LoginFilter</display-name>
		<description></description>
		<filter-class>com.sonstuf.filter.LoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AdminFilter</filter-name>
		<display-name>AdminFilter</display-name>
		<description></description>
		<filter-class>com.sonstuf.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/webpages/private/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/webpages/private/admin/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AcceptRequestServlet</servlet-name>
		<display-name>AcceptRequestServlet</display-name>
		<description></description>
		<servlet-class>com.sonstuf.control.AcceptRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<display-name>AuthenticationServlet</display-name>
		<description></description>
		<servlet-class>com.sonstuf.control.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUsersServlet</servlet-name>
		<display-name>GetUsersServlet</display-name>
		<description></description>
		<servlet-class>com.sonstuf.control.GetUsersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetOfferDetailServlet</servlet-name>
		<display-name>GetOfferDetailServlet</display-name>
		<description></description>
		<servlet-class>com.sonstuf.control.GetOfferDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserRequestServlet</servlet-name>
		<display-name>GetUserRequestServlet</display-name>
		<description></description>
		<servlet-class>com.sonstuf.control.GetUserRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<display-name>RegistrationServlet</display-name>
		<description></description>
		<servlet-class>com.sonstuf.control.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoriesServlet</servlet-name>
		<display-name>CategoriesServlet</display-name>
		<description></description>
		<servlet-class>com.sonstuf.control.CategoriesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestsServlet</servlet-name>
		<display-name>RequestsServlet</display-name>
		<description></description>
		<servlet-class>com.sonstuf.control.RequestsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserProfileServlet</servlet-name>
		<display-name>UserProfileServlet</display-name>
		<description></description>
		<servlet-class>com.sonstuf.control.UserProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminRegistrationServlet</servlet-name>
		<display-name>AdminRegistrationServlet</display-name>
		<description></description>
		<servlet-class>com.sonstuf.control.AdminRegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AcceptRequestServlet</servlet-name>
		<url-pattern>/acceptrequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetOfferDetailServlet</servlet-name>
		<url-pattern>/getmyoffer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/AuthenticationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoriesServlet</servlet-name>
		<url-pattern>/CategoriesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestsServlet</servlet-name>
		<url-pattern>/RequestsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserRequestServlet</servlet-name>
		<url-pattern>/getrequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUsersServlet</servlet-name>
		<url-pattern>/GetUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserProfileServlet</servlet-name>
		<url-pattern>/webpages/private/UserProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminRegistrationServlet</servlet-name>
		<url-pattern>/webpages/private/admin/AdminRegistrationServlet</url-pattern>
	</servlet-mapping>
</web-app>